<template>
  <div class="hotelsContainer">
    <div class="filterBox contentBlock">
      <div class="filterTitle">
        {{ $t('filterHotel') }}
      </div>
      <q-select
        v-model="selectedHotels"
        :options="hotels"
        multiple
        outlined
        transition-show="jump-down"
        transition-hide="jump-up"
        use-chips
      >
        <template v-if="selectedHotels[0]" v-slot:append>
          <q-icon
            class="clearSelectIcon text-negative cursor-pointer"
            :name="isMobile ? 'backspace' : 'clear'"
            @click.stop="selectedHotels = []"
          />
        </template>
        <template v-slot:selected-item="scope">
          <q-chip
            v-if="scope.index < 5"
            square
            removable
            dense
            @remove="scope.removeAtIndex(scope.index)"
            :tabindex="scope.tabindex"
            color="brandColor"
            text-color="black"
            class="ellipsis"
          >
            {{ scope.opt }}
          </q-chip>
          <div v-else-if="scope.index === 5">
            {{ $t('other')}}
          </div>
        </template>
      </q-select>

      <div class="filterRating">
        <div class="filterTitle">
          {{ $t('filterRating') }}
        </div>
        <div class="ratingStars">
          <div
            v-for="(value, stars) in rating" :key="stars"
          >
            <q-icon
              v-for="index in Number.parseInt(stars)" :key="index"
              size="md"
              class="text-brandColor"
              :name="rating[stars] ? 'star' : 'star_border'"
              @click="rating[stars] = !rating[stars]"
            />
            <div
              v-if="stars === '0'"
              :class="['lessThanOneStar', { 'contrast' : !rating[stars] }]"
              @click="rating[stars] = !rating[stars]"
            >
              {{ $t('lessThanOne') }}
              <q-icon
                size="xs"
                class="text-brandColor"
                :name="rating[stars] ? 'star' : 'star_border'"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hotelListBox">
      <q-infinite-scroll
        @load="onLoad"
        :offset="250"
        :disable="isDisabledToShow"
      >
        <ul>
          <li v-if="getHotelList.slice(0, countHotelsToShow).length === 0"
            class="noHotelsFound contentBlock"
          >
            {{ $t('noHotelsFound') }}
          </li>
          <li
            v-for="hotel in getHotelList.slice(0, countHotelsToShow)" :key="hotel.id"
            class="hotelСard contentBlock"
          >
            <q-img
              src="hotel.cover"
              class="coverHotel"
              no-default-spinner
              :ratio="1"
              contain
              spinner-color="black"
              spinner-size="20px"
            >
              <template v-slot:error>
                <q-img
                  :src="imgNotUploaded"
                  no-default-spinner
                  :ratio="1"
                  contain
                  style="background: #ffffff00"
                />
              </template>
            </q-img>

            <div class="hotelInfo">
              <h6>
                {{ hotel.name }}
              </h6>
              <q-rating
                :value="typeof (hotel.hotel_rating) === 'number' ? hotel.hotel_rating : 0"
                :max="Math.ceil(hotel.hotel_rating)"
                size="2em"
                color="brandColor"
                icon-selected="star"
                icon-half="star_half"
                readonly
              />
              <div>
                {{ `${hotel.address}, ${hotel.state}, ${hotel.country_code}` }}
              </div>
            </div>

            <q-btn
              class="showDetailsButton"
              color="brandColor"
              :label="$t('showDetails')"
              no-caps
              unelevated
              @click="openGallery(hotel.cover, hotel.name)"
            />
          </li>
        </ul>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="brandColor" size="40px" />
          </div>
        </template>
      </q-infinite-scroll>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { getHotels } from '../statics/getHotels'

export default {
  name: 'HotelsList',

  components: {
  },

  data () {
    return {
      hotelData: [],
      selectedHotels: [],
      hotels: [],
      rating: {},
      countHotelsToShow: 10,
      destination: ''
    }
  },

  methods: {
    ...mapActions([
      'main/galleryAction'
    ]),

    onLoad (index, done) {
      setTimeout(() => {
        this.countHotelsToShow += 10
        done()
      }, 1000)
    },

    openGallery (image, caption) {
      this['main/galleryAction']({
        images: [
          {
            src: this.imgNotUploaded,
            caption: caption
          }
        ]
      })
    }
  },

  computed: {
    ...mapState({
      imgNotUploaded: state => state.main.imgNotUploaded
    }),

    getHotelList: function () {
      return this.hotelData.filter(hotel => this.selectedHotels.includes(hotel.name) && this.rating[Math.floor(hotel.hotel_rating)] === true)
    },

    isDisabledToShow: function () {
      return this.countHotelsToShow >= this.hotels.length
    }
  },

  created () {
    if (this.$q.cookies.get('filterParameters')) {
      this.destination = this.$q.cookies.get('filterParameters').form.selectedDestination
    }
    this.hotelData = getHotels().filter(hotel => hotel.city === this.destination)

    this.hotelData = this.hotelData.map(hotel => {
      if (isNaN(hotel.hotel_rating) || hotel.hotel_rating === null) {
        hotel.hotel_rating = 0
      }
      return hotel
    })

    this.selectedHotels = this.hotels = this.hotelData.map(hotel => hotel.name)

    var temp = [...(new Set(this.hotelData.map(hotel => Math.floor(hotel.hotel_rating))))]

    temp.forEach(star => {
      this.$set(this.rating, star, true)
    })
  },

  mixins: [
  ]
}
</script>

<style lang="scss" scoped>
@import '../css/variables';

$indentBetweenBlocks: 15px;

.hotelsContainer {
  display: flex;
  margin-top: 20px;
}

.filterBox {
  width: 200px;
  height: 100%;
  flex-shrink: 0;

  @media (max-width: $smScreen) {
    display: none;
  }
}

.filterTitle {
  margin: 10px 0;
}

.hotelListBox {
  width: 100%;
  margin-left: $indentBetweenBlocks;

  & li:not(:first-child) {
    margin-top: $indentBetweenBlocks;
  }
}

.hotelСard {
  display: flex;
  width: 100%;

  @media (max-width: $mdScreen) {
    flex-direction: column;
  }
}

.coverHotel {
  width: 150px;
  height: 150px;
  border: solid 1px;
  flex-shrink: 0;

  @media (max-width: $mdScreen) {
    width: 100%;
    height: 200px;
  }
}

.hotelInfo {
  margin-left: $indentBetweenBlocks;

  @media (max-width: $mdScreen) {
    margin-left: 0;
  }
}

.ratingStars {
  display: flex;
  flex-direction: column-reverse;

  &>* {
    margin-top: 4px;
    cursor: pointer;
  }
}

.showDetailsButton {
  margin: auto 0 auto auto;
  width: 120px;
  flex-shrink: 0;

  @media (max-width: $mdScreen) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.noHotelsFound {
  font-size: 20px;
}

.lessThanOneStar {
  display: flex;
  align-items: center;
}

.contrast {
  filter: contrast(30%);
  color: #aaaaaa;
}
</style>
