<template>
  <div class="">
    <q-form
      @submit="onSubmit"
      class="selectionBlock contentBlock"
    >
      <div>
        <div>
          {{ $t('destination') }}
        </div>
        <q-select
          v-model="form.selectedDestination"
          :options="destinations"
          outlined
          use-input
          fill-input
          hide-selected
          class="inputField"
          @filter="filterDestinations"
          transition-show="jump-down"
          transition-hide="jump-up"
          :rules="[ val => val && val.length > 0]"
          @input="checkHotels()"
        >
          <template v-slot:no-option>
            <div class="noResults">
              {{ $t('noResults') }}
            </div>
          </template>
        </q-select>
      </div>

      <div class="dateBlock">
        <div>
          {{ $t('checkIn') }}
        </div>
        <q-input
          outlined
          v-model="form.checkIn"
          mask="date"
          class="inputField"
          :rules="['date']"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer" color="fillColorForm">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date
                  v-model="form.checkIn"
                  @input="() => $refs.qDateProxy.hide()"
                  :first-day-of-week="$t('selectedFirstDayOfTheWeek')"
                  :options="checkInOptions"
                  :events="checkOutDate"
                  color="brandColor"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>

      <div class="dateBlock">
        <div>
          {{ $t('checkOut') }}
        </div>
        <q-input
          outlined
          v-model="form.checkOut"
          mask="date"
          class="inputField ellipsis"
          :rules="['date']"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer" color="fillColorForm">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date
                  v-model="form.checkOut"
                  @input="() => $refs.qDateProxy.hide()"
                  :first-day-of-week="$t('selectedFirstDayOfTheWeek')"
                  :options="checkOutOptions"
                  color="brandColor"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>

      <div class="numberTourists">
        <div>
          <div>
            {{ $t('adults') }}
          </div>
          <q-input
            v-model="form.adult"
            outlined
            color="black"
            bg-color="white"
            class="inputField"
            mask="##"
            @blur="() => { adultValidation }"
            :rules="[ val => val > 0 && val < 100]"
          >
            <template v-slot:append>
              <q-btn
                flat
                round
                dense
                :disable="form.adult > 98"
                @click.stop="++form.adult"
              >
                <iconBase class="iconToInput" icon-name="increaseByOne" >
                  <span is="increaseByOne" class="text-fillColorForm" />
                </iconBase>
              </q-btn>

              <q-btn
                flat
                round
                dense
                :disable="form.adult < 2"
                @click.stop="--form.adult"
              >
                <iconBase class="iconToInput" icon-name="decreaseByOne" >
                  <span is="decreaseByOne" class="text-fillColorForm" />
                </iconBase>
              </q-btn>
            </template>
          </q-input>
        </div>

        <div>
          <div>
            {{ $t('childrens') }}
          </div>
          <q-input
            v-model="form.children"
            outlined
            color="black"
            bg-color="white"
            class="inputField"
            mask="##"
            @blur="() => { childrenValidation }"
          >
            <template v-slot:append>
              <q-btn
                flat
                round
                dense
                :disable="form.children > 98"
                @click.stop="++form.children"
              >
                <iconBase class="iconToInput" icon-name="increaseByOne" >
                  <span is="increaseByOne" class="text-fillColorForm" />
                </iconBase>
              </q-btn>

              <q-btn
                flat
                round
                dense
                :disable="form.children < 1"
                @click.stop="--form.children"
              >
                <iconBase class="iconToInput" icon-name="decreaseByOne" >
                  <span is="decreaseByOne" class="text-fillColorForm" />
                </iconBase>
              </q-btn>
            </template>
          </q-input>
        </div>
      </div>

      <div class="searchButton">
        <q-btn
          color="brandColor"
          :label="$t('search')"
          type="submit"
          no-caps
          unelevated
        />
      </div>
    </q-form>

    <h1>
      {{ $t('homePageTitle') }}
      <span class="text-brandColor">TRAVOLTA</span>
    </h1>
    <div>
      {{ $t('homePageText')}}
      </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getDestinations } from '../statics/getDestinations'
import { addZeroInFront } from '../mixin/addZeroInFront'
import decreaseByOne from '../components/icons/decreaseByOne'
import increaseByOne from '../components/icons/increaseByOne'
import { getHotels } from '../statics/getHotels'

const destinationsData = [...(new Set(getDestinations().map(city => city.name)))]

function getDateString (date, year = 0, day = 0) {
  date = date.setFullYear(date.getFullYear() + year)
  date = new Date(date)
  date = date.setDate(date.getDate() + day)
  date = new Date(date)

  return (date.getFullYear() + year) +
    '/' + addZeroInFront(date.getMonth() + 1) +
    '/' + addZeroInFront(date.getDate())
}

export default {
  name: 'Index',

  components: {
    decreaseByOne,
    increaseByOne
  },

  data () {
    return {
      destinations: destinationsData,
      form: {
        selectedDestination: '',
        checkIn: '',
        checkOut: '',
        adult: null,
        children: null
      }
    }
  },

  methods: {
    filterDestinations (val, update) {
      update(
        () => {
          if (val === '') {
            this.destinations = destinationsData
          } else {
            const needle = val.toLowerCase()
            this.destinations = destinationsData.filter(v => v.toLowerCase().includes(needle))
          }
        }
      )
    },

    checkInOptions (date) {
      var startCheckIn = new Date()

      return date >= getDateString(startCheckIn) && date <= getDateString(startCheckIn, 1, -1)
    },

    checkOutOptions (date) {
      var startCheckOut

      if (this.form.checkIn === '') {
        startCheckOut = new Date()
      } else {
        startCheckOut = new Date(this.form.checkIn)
      }
      // startCheckOut = getDateString(startCheckOut, 0, 1)

      startCheckOut = new Date(getDateString(startCheckOut, 0, 1))

      return date >= getDateString(startCheckOut) && date <= getDateString(startCheckOut, 1, -1)
    },

    onSubmit () {
      this.$q.cookies.set('filterParameters', {
        form: this.form
      },
      {
        path: '/',
        expires: '30d'
      })

      this.$router.push('hotels')
    },

    checkHotels () {
      if (getHotels().filter(hotel => hotel.city === this.form.selectedDestination).length === 0) {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'sentiment_dissatisfied',
          position: 'top',
          message: this.$t('noHotelsFoundIn', { msg: this.form.selectedDestination })
        })

        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.form.selectedDestination = ''
      }
    }
  },

  computed: {
    ...mapState({
      travelOptions: state => state.main.travelOptions
    }),
    // eslint-disable-next-line vue/return-in-computed-property
    checkOutDate: function () {
      if (this.form.checkOut !== '') {
        if (new Date(this.form.checkOut) <= new Date(this.form.checkIn)) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.form.checkOut = ''
        }
      }
    },

    // eslint-disable-next-line vue/return-in-computed-property
    adultValidation: function () {
      if (this.form.adult === '' || this.form.adult === '0') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.form.adult = 1
      }
    },

    // eslint-disable-next-line vue/return-in-computed-property
    childrenValidation: function () {
      if (this.form.children === '') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.form.children = 0
      }
    }
  },

  created () {
    if (this.$q.cookies.get('filterParameters')) {
      this.form = this.$q.cookies.get('filterParameters').form
    }
  },

  mixins: [
  ]
}
</script>

<style lang="scss" scoped>
@import '../css/variables';

$indentBetweenInput: 10px;

.selectionBlock {
  display: flex;
  margin-top: 20px;

  &>* {
    padding-left: $indentBetweenInput / 2;
    padding-right: $indentBetweenInput / 2;
  }

  &>*:first-child {
    flex-grow: 1;

    @media (max-width: $mdScreen) {
      width: 100%;
    }
  }

  &>* {
    margin-top: $indentBetweenInput;
  }

  @media (max-width: $xlScreen) {
    flex-wrap: wrap;
  }

  @media (max-width: $smScreen) {
    flex-direction: column;
  }
}

.noResults {
  padding: 15px;
  color: #666666;
}

.inputField {
  font-size: 20px;
  padding: 0px;
  margin-top: 4px;
}

.dateBlock {
  min-width: 180px;
  max-width: 249px;

  @media (max-width: $mdScreen) {
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
}

.iconToInput {
  width: 30px;
  height: 30px;
}

.searchButton {
  height: 56px;
  margin-top: auto;
  flex-grow: 1;
  max-width: 200px;

  &>* {
    height: 100%;
    width: 100%;
  }

  @media (max-width: $smScreen) {
    margin-top: $indentBetweenInput;
    max-width: 100%;
  }
}

.numberTourists {
  display: flex;

  &>*:first-child {
    margin-right: $indentBetweenInput;
  }

  &>*:not(:first-child) {
    margin-left: auto;
  }

  &>* {
    width: 140px;

    @media (max-width: 360px) {
      width: 100%;
    }
  }

  @media (max-width: 360px) {
    flex-direction: column;

  }
}

h1 {
  margin-top: 40px;
}
</style>
