<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    :aria-labelledby="iconName"
    :width="width"
    :height="height"
    :viewBox="`0 0 ${viewBoxX} ${viewBoxY}`"
    role="presentation"
  >
    <g :fill="fill">
      <slot />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
      default: 'box'
    },
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: 'none'
    },
    viewBoxX: {
      type: String,
      default: '500'
    },
    viewBoxY: {
      type: String,
      default: '500'
    }
  }
}
</script>
