<template>
  <q-select
    borderless
    transition-show="jump-down"
    transition-hide="jump-up"
    v-model="selectedLanguage"
    :options="listOfLanguages"
    dense
    emit-value
    hide-dropdown-icon
    class="languageSelect"
    options-selected-class="bg-brandColorBlack text-black"
    @input="() => { changeLanguage }"
  >
    <template v-slot:prepend>
      <iconBase
        class="flagIcon"
        :icon-name="`flag-${$i18n.locale}`"
      >
        <span :is="`flag-${$i18n.locale}`" />
      </iconBase>
    </template>

    <template v-slot:option="scope">
      <q-item
        v-bind="scope.itemProps"
        v-on="scope.itemEvents"
        class="optionsSelect"
      >
        <iconBase
          class="flagIcon"
          :icon-name="scope.opt.icon"
        >
          <span :is="scope.opt.icon" />
        </iconBase>
        <div>{{ scope.opt.label }}</div>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import changeLanguageInQuasar from '../mixin/changeLanguageInQuasar'
import flagRu from './icons/flagRussia'
import flagEn from './icons/flagEnglish'

export default {
  name: 'SelectLanguage',
  components: {
    flagRu,
    flagEn
  },

  props: {
  },

  data () {
    return {
      selectedLanguage: null
    }
  },

  methods: {
  },

  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    changeLanguage: function () {
      const isoI18n = {
        English: 'en',
        Русский: 'ru',
        ไทย: 'th'
      }
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.$i18n.locale = isoI18n[this.selectedLanguage]
      // eslint-disable-next-line no-unused-expressions
      this.changeLanguageInQuasar

      this.$q.cookies.set('localization', {
        localization: this.$i18n.locale
      },
      {
        path: '/'
      })
    },

    listOfLanguages: function () {
      return [
        {
          label: 'English',
          value: 'English',
          icon: 'flag-en'
        },
        {
          label: 'Русский',
          value: 'Русский',
          icon: 'flag-ru'
        }
      ]
    },

    isoForSelectedLanguage: function () {
      return {
        en: 'English',
        ru: 'Русский'
      }
    }
  },

  created () {
    this.selectedLanguage = this.isoForSelectedLanguage[this.$i18n.locale] || this.isoForSelectedLanguage.en
  },

  mounted () {
  },

  watch: {
  },

  mixins: [
    changeLanguageInQuasar
  ]
}
</script>

<style lang="scss" scoped>
.languageSelect {
  width: min-content;
}

.flagIconShadow {
  filter: grayscale(0%) contrast(30%);
}

.flagIcon {
  height: 24px;
  min-height: 24px;
}

.optionsSelect {
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    margin-right: 8px;
  }
}
</style>
