<template>
  <header>
    <router-link to="/" class="headerLogo">
      <iconBase icon-name="logo" fill="#212121">
        <span is="logo" />
      </iconBase>

      <span class="nameCompany">
        Travolta
      </span>
    </router-link>

    <div v-if="!isMobile" class="headerMenu">
      <selectLanguage class="languageComponent"/>
      <q-btn
        color="grey-8"
        :label="$t('aboutUs')"
        type="a"
        no-caps
        unelevated
        class="ellipsis"
      />
      <q-btn
        color="grey-8"
        :label="$t('myBookings')"
        type="a"
        no-caps
        unelevated
        class="ellipsis"
      />
      <q-btn
        color="grey-8"
        :label="$t('signIn')"
        type="a"
        no-caps
        unelevated
        class="ellipsis"
      />
    </div>
  </header>
</template>

<script>
import logo from '../components/icons/logo'
import selectLanguage from '../components/selectLanguage'

export default {
  name: 'TheHeader',

  components: {
    logo,
    selectLanguage
  }
}
</script>

<style lang="scss" scoped>
@import '../css/variables';
@import '../css/mixins';

header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
  color: $colorMain;

  &>*:first-child {
    width: 60px;
    height: 60px;
  }

  &>*:nth-child(2) {
    margin-left: 10px;
    font-size: 20px;
  }
}

.nameCompany {
  text-transform: uppercase;
}

.headerMenu {
  display: flex;

  &>* {
    margin-left: 10px;
  }

  @media (max-width: $smScreen) {
    display: none;
  }
}

.languageComponent {
  @media (max-width: $mdScreen) {
    display: none;
  }
}
</style>
