// app global css in Sass form
@import './mixins.scss';

body {
  color: $colorMain;
  background-color: $colorBody;
  font-size: $fontSizeMain;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5;
}

li {
  list-style: none;
}