@import './variables.scss';

.contentArea {
  margin: auto;
  padding: 0px 15px;
 
  @media (min-width: $smScreen + 1px) {
    width: $mainWidth576;
  }

  @media (min-width: $mdScreen + 1px) {
    width: $mainWidth768;   
  }

  @media (min-width: $lgScreen + 1px) {
    width: $mainWidth992;   
  }

  @media (min-width: $xlScreen + 1px) {
    width: $mainWidth1200;   
  }
}

.text-fillColorForm {
  color: $fillColorForm;
  fill: $fillColorForm;
}

.text-brandColor {
  color: $brandColor;
}

.bg-brandColor {
  background: $brandColor;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentBlock {
  background: #ffffff;
  border: solid 1px #666666;
  padding: 15px;
}