$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$xlScreen: 1200px;

$mainWidth576: 550px;
$mainWidth768: 750px;
$mainWidth992: 970px;
$mainWidth1200: 1170px;

$colorBody: #f5f5f5;
$colorMain: #212121;

$fontSizeMain: 16px;

$fillColorForm: #3e4757;

$brandColor: #fe00fe;
