<template>
  <path d="M237.4,136.5v15.7H177.7V136.5Zm64.3-64.1h-.5L273.9,87.2,269.8,71l34.3-18.4h18.2V209.7H301.7ZM235,441.2,89.4,289.6c-14.2-14.8-4.1-40,15.9-40H394.7c20,0,30.1,25.2,15.9,40L265,441.2A21.3,21.3,0,0,1,235,441.2Z"/>
</template>
