<template>
  <path d="M214.1,321.3v56.8h54.6v14.5H214.1v57.2H198.6V392.6H144V378.1h54.6V321.3Zm121.3-8.7h-.5l-27.3,14.7-4.1-16.2,34.3-18.3H356v157H335.4ZM265,56.4,410.6,208c14.2,14.7,4.1,40-15.9,40H105.3c-20,0-30.1-25.3-15.9-40L235,56.4A21.2,21.2,0,0,1,265,56.4Z"/>
</template>
