<template>
  <g>
    <circle style="fill: #fe00fe; stroke-width: 0px;" cx="250" cy="250" r="233.7"/>
    <path style="fill: #b6dcfe;" d="M430.3,198.9l-89.7,86.7,20.1,124.1L250,351.3,139.3,409.7l20.1-124.1L69.7,198.9l123.9-18.5L250,69.4l56.4,111Zm-120,76.7,59-57.2-81.6-12.2L250,132l-37.7,74.2-81.6,12.2,59,57.2-13.4,82.5L250,319.3l73.7,38.8Z"/>
    <polygon style="fill: none; stroke-width: 0px; stroke: #4788c7;" points="250 319.3 176.3 358.1 189.7 275.6 130.7 218.4 212.3 206.2 250 132 287.7 206.2 369.3 218.4 310.3 275.6 323.7 358.1 250 319.3"/>
    <path style="fill: none; stroke-width: 14px; stroke: #4788c7;" d="M250,69.4l56.4,111,123.9,18.5-89.7,86.7,20.1,124.1L250,351.3,139.3,409.7l20.1-124.1L69.7,198.9l123.9-18.5Zm73.7,288.7-13.4-82.5,59-57.2-81.6-12.2L250,132l-37.7,74.2-81.6,12.2,59,57.2-13.4,82.5L250,319.3Z"/>
  </g>
</template>
