<template>
  <q-layout class="contentArea">
    <theHeader />
    <router-view />

    <lightBox
      :images="gallery.images || []"
      ref="lightbox"
      :show-caption="true"
      :show-light-box="false"
    />
  </q-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import theHeader from '../components/theHeader'
import changeLanguageInQuasar from '../mixin/changeLanguageInQuasar'
import lightBox from '../components/lightBox'

export default {
  name: 'Layout',

  components: {
    theHeader,
    lightBox
  },

  data () {
    return {
    }
  },

  methods: {
    ...mapActions([
      'main/isMobileAction',
      'main/travelOptions'
    ])
  },

  computed: {
    ...mapState({
      gallery: state => state.main.gallery
    })
  },

  created () {
    // Устанавливаем шаблонные размеры ширины экрана
    this.$q.screen.setSizes({ sm: 576, md: 769, lg: 993, xl: 1200 })

    // Проверяем сайт открыт на мобильной платформе или нет
    this['main/isMobileAction'](!!this.$q.platform.is.mobile)

    if (this.$q.cookies.get('localization')) {
      this.$i18n.locale = this.$q.cookies.get('localization').localization
    } else {
      // Разные браузеры отдают локализацию в разных форматах
      const listLanguages = {
        en: 'en',
        'en-us': 'en',
        'en-US': 'en',
        ru: 'ru',
        'ru-ru': 'ru'
      }
      this.$i18n.locale = listLanguages[this.$q.lang.getLocale()] ? listLanguages[this.$q.lang.getLocale()] : 'en'
    }

    // eslint-disable-next-line no-unused-expressions
    this.changeLanguageInQuasar
  },

  mounted () {
    this.$store.subscribe((mutation) => {
      if (mutation.type === 'main/gallery') {
        if (this.gallery.images) this.$refs.lightbox.showImage(0, 0, null)
      }
    })
  },
  mixins: [
    changeLanguageInQuasar
  ]
}
</script>
